
{% extends "base.html" %}

{% load widget_tweaks %}




{% block content %}


<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li><a href="#">Cobrança lote</a> <span class="divider"></span></li>
      <li class="active">{{ detalhe.slug }} {{ plano.bem }}</li>
    </ul>
  </div>
</div>

<div class="col-sm-6">
  <div class="list-group">
    <h1><b>Grupo:</b> {{ plano.grupo }}</h1>
  </div>
  <div class="list-group">
    <h4><b>Cota</b>: {{ plano.bem }}</h4>
  </div>
  <div class="list-group">
    <h4><b>Versão</b>: {{ plano.vs }}</h4>
  </div>
  <div class="list-group">
    <h4><b>Nome</b>: {{ plano.nome }}</h4>
  </div>
  <div class="list-group">
    <h4><b>E-mail</b>: {{ plano.email }}</h4>
  </div>

  <form role="form">
    <div class="form-group">
      <div class="form-inline">
        <input type="button" class="btn btn-default" name="btfone" value="Fones">
        <input type="button" class="btn btn-primary" name="btsms" value="sms">
        <input type="button" class="btn btn-primary" name="btEmail" value="E-mail">
        <input type="button" class="btn btn-default" name="btHist" value="Historico">
      </div>
    </div>
  </form>
</div>



{% endblock content %}