<!DOCTYPE HTML>
<html lang="pt-br">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Triângulo</title>

  <link href='http://fonts.googleapis.com/css?family=OpenSans:300,400,700' rel='stylesheet' type='text/css'>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Bootstrap core JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>

<body>
  <div class="container-fluid">

 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        class="sr-only">(current)</span></a></li>
        <li><a href="#">Plano Ouro</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nossos Produtos <span class="caret"></span></a>
          <ul class="dropdown-menu">
         <!-- {% for segmentos in segmentos %}
            <li><a name="seg_id" href="{% url 'tabelas' %}">{{ segmentos.segmento }}</a></li>
           {% endfor %}-->
         
          </ul>
        </li>
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  

 
<br><br>
  <!-- Nav tabs -->
 
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <div>  
      <table class="table">
          <thead>
            <th>Valor</th>
            <th>Slug_conferencia</th>
            <th>Parcela</th>
            

          </thead>
          
          <tbody>

          {% for plano in plano %}
          <tr>
            <td>{{ plano.bem }}</td>
            <td>{{ plano.slug }}</td>
            <td>{{ plano.parcela }}</td>
            
             <td> <p><a href="{{ Detalhe.get_absolute_url }}" class="btn btn-success" role="button">detalhe</a></p></td>
           {% endfor %}

         
          
          </tr>

          </tbody>

      </table>


    </div>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <center><h4 class="list-group-item-heading">teste agora</h4></center>
    <center><p class="list-group-item-text">####</p></center>
  </a>
</div>
  




<div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">


 </div>
</body>
</html>