<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">cadastro PLanos <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Plano Ouro</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nossos Produtos <span class="caret"></span></a>
          <ul class="dropdown-menu">
         <!-- {% for segmentos in segmentos %}
            <li><a name="seg_id" href="{% url 'tabelas' %}">{{ segmentos.segmento }}</a></li>
           {% endfor %}-->
           <li><a name="seg_id" href="">Tabela de Consórcios</a></li>
           <li><a name="seg_id" href="">Fale conosco</a></li>
           <li><a name="seg_id" href="">Duvidas Frequentes</a></li>

          </ul>
        </li>
      </ul>
     
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
